@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "Spoqa Han Sans JP", sans-serif;
  margin: 0;
}

$white: #ffffff;
$black: #000;
$red: #fa0000;
$gray: #d7d7d7;
$blue: #093389;
$SpoqaHanSansNeoFont: "Spoqa Han Sans Neo", "Spoqa Han Sans JP", sans-serif;
$MontserratFont: "Montserrat", sans-serif;
$default-size: 160px;

@mixin size($width, $height) {
    height: $height;
    width: $width;
}

.color--white {
  color: $white !important;
}

.color--black {
  color: $black !important;
}

.color--red {
  color: $red !important;
}

.color--gray {
  color: $gray !important;
}

.color--blue {
  color: $blue !important;
}


header {
  background-image: url("./assets/banner.png");
  background-size: cover;
  @include size(100%, 430px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  nav.navbar {
    padding: 37px 80px;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    .navbar__brand {
      @include size(105px, 27px);
      img {
        @include size(100%, 100%);
      }
    }
    ul.navbar__nav-menu {
      list-style: none;
      display: flex;
      margin: 0;
      justify-content: space-between;
      align-items: center;
      li.nav-menu__item {
        a {
          color: $white;
          font-size: 18px;
          font-weight: 500;
          text-decoration: none;
          font-family: $MontserratFont;
          &:hover {
            color: $white;
          }
        }
      }
    }
    .navbar__actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 25px;
      i {
        color: $white;
        font-size: 26px;
      }
      .searcher__form {
        display: flex;
        align-items: center;
        gap: 30px;
        .searcher__select {
          background-color: transparent;
          border: none;
          color: $white;
          width: 60px;
        }
      }
      .divider {
        background-color: rgba($color: $black, $alpha: 0.4);
        @include size(2px, 100%);
      }
    }
  }
  .banner__title {
    display: flex;
    align-items: flex-end;
    gap: 17px;
    h1 {
      font-family: $SpoqaHanSansNeoFont;
    }
    .circle {
      margin-bottom: 12px;
    }
  }
}

main {
  section {
    &.header-content {
      @include size(100%, 70px);
      display: flex;
      padding-left: 240px;
      border-bottom: 1px solid $gray;
      margin-bottom: 100px;
      .menu__item {
        padding: 24px 30px;
        border-right: 1px solid $gray;
        &:first-of-type {
          border-left: 1px solid $gray;
        }
        select.select-custom {
          &.active {
            color: $blue;
            background-image: url("./assets/arrow-down-blue.svg");
          }
          @include size(180px, 100%);
        }

        &:hover {
          select.select-custom {
            color: $blue;
            background-image: url("./assets/arrow-down-blue.svg");
          }
        }
      }
    }
    &.fixed-menu {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      .fixed-menu__item {
        @include size(74px, 74px);
        cursor: pointer;
        background-color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: $red;
        }

        &.active {
          background-color: $red;
        }
        img {
          @include size(30px, 30px);
        }
      }
    }
  }
  

}


